@model StreamWorld.Models.Artista

@{
    ViewData["Title"] = "Excluir Artista";
}

<h1>Excluir Artista</h1>

<div class="alert alert-warning">Tem certeza que deseja excluir este artista?</div>

<dl class="row">
    <dt class="col-sm-2">Nome</dt>
    <dd class="col-sm-10">@Model.Nome</dd>
</dl>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">Excluir</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
 </form>
