@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bem-vindo ao StreamWorld</h1>
    <p>
        <a asp-controller="Products" asp-action="Index" class="btn btn-primary-custom btn-lg">Ver Produções</a>
        <a asp-controller="Artistas" asp-action="Index" class="btn btn-outline-custom btn-lg ms-2">Ver Artistas</a>
    </p>
</div>
