@{
    ViewData["Title"] = "Admin";
}

<h1>Área Administrativa</h1>

<ul>
    <li><a asp-controller="Genres" asp-action="Index">Gêneros</a></li>
    <li><a asp-controller="Artists" asp-action="Index">Artistas</a></li>
    <li><a asp-controller="Productions" asp-action="Index">Produções</a></li>
    <li><a asp-controller="Messages" asp-action="Index">Mensagens</a></li>
</ul>
